.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;

  padding: 0 5rem;

  height: 100vh;

  .star {
    position: absolute;

    top: 100px;
    left: 3px;
  }

  .info {
    z-index: 1;

    .title {
      font-size: 48px;
    }

    .description {
      font-size: 20px;
      font-weight: 300;

      max-width: 500px;
    }

    .list {
      display: flex;
      flex-direction: column;

      gap: 20px;
      margin: 50px 0;

      font-size: 20px;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 10rem 0;

    gap: 50px;

    height: 100%;

    .star {
      top: -50px;
    }

    .title {
      text-align: center;
      width: 100%;
    }

    .description {
      text-align: center;
      width: 100%;
    }

    .list {
      justify-content: center;
      align-items: center;

      width: 100%;
    }
  }
}
