@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #161616;

  --font-color: #ffffff;
  --font-transparent: #3c3c3c;

  --container-background: #1a1a1a;
  --container-border: #3c3c3c;

  --button-background: #060606;
}

body {
  color: var(--font-color);

  background-color: var(--background-color);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 750px) {
  .main-title {
    display: none;
  }

  .main-nav {
    justify-content: center;
  }

  .container-name {
    flex-direction: column;
  }

  .main-header {
    margin: 50px 0;
  }
}
